---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---


<Layout title="Antica Pizza">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl text-center">Página en mantenimiento</h1>
    <img src="./public/relojarena.gif">
  </div>

</Layout>

<style>

</style>
