---
import HeaderButton from "./HaderButton.astro";
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h5 class="font-light my-10">Antica Pizza</h5>
    <h2 class="mb-4 text-5xl tracking-tight font-bold text-black">
      Sitio en mantenimiento
    </h2>
  </div>

  <nav class="items-center w-full text-center md:flex-row">
    <HeaderButton href="https://anticapizza.es/es/site/menu.asp"> PEDIDO ONLINE</HeaderButton>
  </nav>
</header>
