---
import HeaderButton from "./HaderButton.astro";
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="text-center mb-8 lg:mb-16">
    <h5 class="font-light my-10">Antica Pizza</h5>
    <h2 class="mb-4 text-5xl tracking-tight font-bold text-black">
      Estamos actualizando nuestra web
    </h2>
    <p>Mientras haz tu pedido online</p>
  </div>

  <div class="flex flex-col items-center justify-center mb-8">
    <img src="./public/dedo.png" class="mb-10 w-20" />
    <HeaderButton href="https://anticapizza.es/es/site/menu.asp">
      PEDIDO ONLINE
    </HeaderButton>
  </div>

  <div class="flex flex-col justify-center items-center">
    <img src="./public/relojarena.gif" class="mb-10"/>
  </div>
</header>